[Desktop Entry]
Version=1.0
Type=Application
Name=Teletext Viewer
Comment=Open teletext .t42 captures
Exec=ttviewer %f
Icon=teletext
Terminal=false
Categories=AudioVideo;Utility;Viewer;
MimeType=application/x-teletext-t42;
StartupNotify=true
